[submodule "vendor/github.com/mattn/go-runewidth"]
	path = vendor/github.com/mattn/go-runewidth
	url = https://github.com/mattn/go-runewidth
[submodule "vendor/github.com/nsf/termbox-go"]
	path = vendor/github.com/nsf/termbox-go
	url = https://github.com/nsf/termbox-go
